@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* { box-sizing: border-box; }

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
    padding:0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

.logo {
    display:flex; 
    align-items: center;
    padding-left: 0px;
}
.right-links {
    display:flex; 
    justify-content: flex-end;
    gap: 18px;
    padding:10px;
    margin: 10px;
    align-items: center;
}

a {
    font-size: 24px;
    text-decoration: none;
    color: #F9FAF8;
}

.right-links a {
    color: lightgrey;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section1 {
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;
}

.temp-photo {
    width: 300px;
    height: 200px;
    border: black solid;
    background-color: grey;
    border-radius: 8px;
}

.sectext {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:40px;
}

.title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.sectext button {
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: lightblue;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.1s ease;
}

.sectext button:active {
    background-color: #3B82F6;
    color: #111827;
    transform: scale(0.95);
}

.sectext button:hover {
    box-shadow: 0 0 10px yellow;
}

.section2 {
    background-color: white;
    text-align: center;
    padding: 60px;
}

.subtitle {
    color: black;
    font-size: 26px;
    font-weight: 700;
}

.boxes {
    display:flex;
    justify-content: center;
    text-align: center;
    gap:20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.feature {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px; /*keep the captiosn same width */
}

.feature-box {
    width: 150px;
    height: 150px;
    border: blue solid;
    background-color: transparent;
    border-radius: 8px;
    flex-shrink: 0;
}

figcaption {
    margin-top: 20px;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    color: grey;
    padding-top: 30px;
    display: flex;
    width: 600px;
    font-size: 28px;
    font-style: italic;
    font-weight: 300;
    margin: 0 auto;
}

.customer {
    width: 600px;
    font-weight: 700;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.section4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#3B82F6;
    height: 150px;
    margin: 120px;
    border-radius: 8px;
    padding-left: 100px;
    padding-right: 100px;

}

.cta {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cta-button{
    color: white;
    border: white solid;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease; background-color: 0.2s ease, color 0.2s ease;
    

}

.ctabutton .cta-button:hover {
    /* background-color: white;       this will fill-in the background 
    color: #3B82F6; */
    /* box-shadow: 0 0 10px white;  this will give a glow effect */
    transform: scale(2.05);
    background: white;
    color: #3B82F6;
   
}

.ctabutton .cta-button:active {
    transform: scale(0.95);
    color: white;
    background-color: transparent;
}

.cta-button:focus-visible {
  outline: 3px solid #93C5FD;
  outline-offset: 2px;
}


.cta h2{
    margin: 0;
    padding: 0;
}

.cta p{
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.footer p {
    color: whitesmoke;
    font-size: 16px;
    padding: 8px;

}

